<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img class="banner-image" src="images/elixir-daze.svg">

        <h1>Posts</h1>

        <div>
          <%= if @current_user_email do %>
            Welcome <%= @current_user_email %>
          <% else %>
            <a href="/sign_in">Sign In</a>
          <% end %>
        </div>
      </div>

      <div class="main">
        <div>
          <form action="/posts" method="post">
            <label>Post:</label>
            <textarea name="post"></textarea>

            <label>Author</label>
            <input type="text" name="author">

            <button type="submit">Post</button>
          </form>
        </div>

        <div class="posts">
          <%= if @posts do  %>
            <ul>
              <%= for post <- @posts do %>
                <li class="post-item">
                  <span class="post-body"><%= post.body %></span>
                  <span class="post-author">- <%= post.author %></span>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>

    </div>
  </body>
</html>
